{% extends 'base.html' %}

{% block title %}Insert Listing Title{{ city }}{% endblock %}


{% block page_content %}
<h1>Name of Apartment Listing</h1>

<p>place holder for gif of how to get ID number</p>
<form method="POST" action="">
            What is the listing ID Number? <input type="text" name="id_number">
            <input type="submit" name="submit" value="Submit">
        </form>
        {% if id_number %}
            <h1>The ID Number is {{ id_number }}!</h1>
        {% endif %}

<table>
    <tr>
        <th>Attribute Type</th>
        <th>{{id_number}}</th>

    </tr>
    {% for attr in attrs %}
    <tr>
        <td>{{ attr }}</td>
        <td>{{my_dict[attr]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
