{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Insert Listing Title{{ city }}{% endblock %}


{% block page_content %}
{% if not id_number %}
<h1>Which listing would you like to test?</h1>
{% endif %}
{% if id_number %}
<h1>{{title}}</h1>
{% endif %}

<img src="HowTo.png" width="100" height="80" alt="how to">
    {{ wtf.quick_form(form) }}
    
    {% if id_number %}
    <h1>The PDX Apartment Finder predicted price is ${{ pred }}</h1>

    {% if diff > 0 %}
    <h1 style="color:red;">This listing is overpriced by ${{ diff }}</h1>
    {% endif %}
    {% if diff < 0 %}
    <h1 style="color:green;">This listing is underpriced by ${{ diff }}</h1>
    {% endif %}

<table>
    <tr>
        <th>Attribute Type</th>
        <th>{{id_number}}</th>

    </tr>
    {% for attr in attrs %}
    <tr>
        <td>{{ attr }}</td>
        <td>{{my_dict[attr]}}</td>
    </tr>
    {% endfor %}
</table>
    {% endif %}
{% endblock %}
